# OSX
#
.DS_Store

# Xcode
#
# Android/IntelliJ
#
.idea
*.iml

# node.js
#
node_modules/
# BUCK
# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

# Bundle artifact
ios/
android
__tests__/API_test.http
